/* Variables que utilizare */
:root {
    --colorFondo: rgb(69, 66, 66);
    --letraBlanca: #f1eded;
    --letraNegra: #1f1f1f;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}

/* Scroll Snapts */
/* .navegacion,
.informacion,
.footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    margin: 0 auto;
    width: 99%;
}

/* modo oscuro */
.modo__oscuro {
    background-color: #1f1f1f;
    color: var(--letraBlanca);
}

.modo__oscuro .informacion p,
.modo__oscuro .informacion--titulo,
.modo__oscuro .iconos p {
    color: var(--letraNegra);
}

.modo__oscuro .navegacion__enlaces {
    display: flex;
}

.modo__oscuro .navegacion__enlace {
    color: #f1eded;
}

.modo__oscuro .enlace__icon,
.modo__oscuro .contenedor {
    background-color: #f1eded;
}

.modo__oscuro .footer p {
    color: var(--letraBlanca);
}

/* Fin de modo oscuro */
/* Tamaños de fuente de letras */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.6rem;
}

img {
    filter: brightness(1.1);
    mix-blend-mode: normal;
    width: 100%;
}

a {
    text-decoration: none;
}

/* Nav */

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.navegacion__enlaces {
    width: 100%;
    /* padding: 1rem 0; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navegacion__enlace {
    display: none;
    color: #1f1f1f;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 3rem;
}

.navegacion__titulo {
    font-size: 1.5rem;
}

.navegacion__titulo span {
    font-size: 1.9rem;
}

.hamburger {
    cursor: pointer;
    display: block;
    flex: 0;
}

@media (min-width: 768px) {

    .navegacion,
    .navegacion__enlaces {
        display: flex;
        justify-content: space-between;
    }

    .navegacion__enlace {
        font-size: 1.8rem;
    }

    .navegacion__titulo {
        padding: 0 1rem;
    }
}

@media (min-width: 992px) {
    .navegacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: nowrap;
    }

    .navegacion__enlaces {
        align-items: center;
        flex-direction: row;
    }

    .navegacion__enlace {
        display: flex;
    }

    .navegacion__titulo {
        font-size: 2rem;
    }

    .navegacion__titulo span {
        font-size: 3rem;
        text-transform: uppercase;
    }

    .hamburger {
        display: none;
    }
}

.navegacion__enlace:hover {
    background-color: royalblue;
    color: #f1eded;
}

/* main */

.contenedor {
    background-color: royalblue;
    margin: 0 auto;
}

.container__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    line-height: 3rem;
    padding: 2rem;
    gap: 2rem;
}

.informacion img {
    max-width: 40rem;
}

.informacion,
h3,
p {
    color: var(--letraBlanca);
}
.informacion-negrita {
    color: var(--letraNegra);
}

.informacion--titulo {
    animation: teclado 3s steps(40), blink 1s normal both infinite;
    border-right: 4px solid;
    color: var(--letraBlanca);
    font-size: 1.8rem;
    overflow: hidden;
    max-width: 24.8rem;
    white-space: nowrap;
}

.informacion__bloque:nth-child(3){
    margin: 0 auto;
    text-align: center;
   
}
@media (min-width: 480px) {
    .informacion {
        display: contents;
        justify-content: center;
    }
    .informacion__bloque{
        display: contents;
    }
}

@media (min-width: 768px) {

    .informacion--titulo {
        white-space: nowrap;
        border-right: 4px solid;
        font-size: 3rem;
        max-width: 39rem;
        overflow: hidden;
        animation: teclado 3s steps(40), blink 1s normal both infinite;
    }

    .informacion {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .container__informacion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;

    }
    .informacion__bloque{
        display: block;
        max-width: 60rem;
    }
    .informacion__bloque:nth-child(3){
        margin: 0 auto;
        max-width: 70rem;
    }
    .informacion__bloque:last-child{
        grid-column: 1 / 3;
        margin: 0 auto;
    }
    .informacion--titulo {
        margin: 0 auto;
        white-space: nowrap;
        border-right: 4px solid;
        grid-column: 1 / 3;
        font-size: 3rem;
        max-width: 39rem;
        overflow: hidden;
        animation: teclado 3s steps(40), blink 1s normal both infinite;
    }

    .informacion {
        text-align: center;
    }
}

@keyframes teclado {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.logotipo {
    display: grid;
    gap: 5rem;
    padding: 3rem 0;
}

/* Icon informacion */
.iconos {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .iconos {
        justify-content: space-evenly;
        grid-column: 1 / 3;
    }
}

/* footer */
.footer p {
    text-align: center;
    color: var(--letraNegra);
}